/* Establece un fondo y colores de texto */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para el encabezado */
h1 {
    font-size: 32px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #555;
}

h3 {
    font-size: 18px;
    color: #777;
}

/* Estilo para la imagen del logo */
img {
    max-width: 200px;
    height: auto;
}

/* Estilo para el enlace de práctica */
a {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para las líneas divisorias */
hr {
    border: none;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

/* Alinea los títulos y enlaces */
h3, a {
    margin: 10px 0;
}
