body {
    font-family: Arial, sans-serif;
    background-color: #ffffe5;
    color: #6b456c;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    color: #6ECF42; 
    margin: 2.5%;
    font-size: 25px;
}

.cuadro1, .cuadro2 {
    width: 40%;
    height: auto;
    /*border: 1px solid #ccc;*/
    border: 1px solid  #31A252;
    background-color: #ffffe5;
    padding: 20px;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

#subtitulo {
    font-weight: bold;
}

.input {
    width: 97%;
    padding: 10px;
    margin: 1px;
    border: 1px solid #31A252;
    color: #6b456c;
}

#btngenerar {
    background-color: #6b456c;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid  #6b456c;
    cursor: pointer;
}

#btngenerar:hover {
    background-color: #7b567c;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.datos {
    margin: 5px 0;
}

#cmbNumeros {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #31A252;
    color: #6b456c;
}

.piedepagina {
    width: 86%;
    color: #6b456c;
    background-color: #ffffe5;
    border: 1px solid #31A252;
    padding: 10px;
    text-align: center;
}
