/* SELECTOR UNIVERSAL */
*{
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #348e91;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #213635;

}

.contenedor {
    width: 80%;
    max-width: 1200px;
    margin: 7.5%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    color: #0a0c0d;
}

h2 {
    font-size: 24px;
    color: #348e91;
}

section, aside {
    flex: 1;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

hr {
    border: 1px solid #348e91;
    margin: 10px 0;
}

span {
    font-weight: bold;
}

button {
    width: 100px;
    padding: 10px 20px; 
    background-color: #213635;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1c5052;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #f2f2f2;
    padding: 5px;
    background-color: #1c5052;
    border-radius: 5px;
    font-size: 15px;
}

.btnForm{
    margin-left: 200px;
}

/* Estilos para los campos de solo lectura 
input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}
*/