/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    background-color: green;
    color: #fff;
    padding: 10px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.contenido {
    padding: 20px;
}

/* Estilos para el select y botón */
#tabla {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

#mosTabla {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#mosTabla:hover {
    background-color: rgb(185, 57, 57);
}

/* Estilos para imágenes y texto */
img {
    max-width: 10%;
    height: auto;
    margin-top: 20px;
}

img#xtabla {
    max-width: 10%;
    height: auto;
    margin-top: 20px;
}

#ejemp {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para el ejemplo hr */
#ejemp hr {
    border: none;
    height: 2px;
    background-color: #3498db;
    margin: 10px 0;
}

/* Estilos para el centro */
center {
    text-align: center;
}
