/* SELECTOR UNIVERSAL */
* {
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: left;
    width: 100%;
    margin-bottom: 2.5px;
}

aside {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3%;
    justify-content: center;    
}

#imagen{
    height: max-content;
    width: 100%;
    box-shadow: 0 0 100px whitesmoke;
}

label {
    text-align: left;
}

button {
    width: 100%;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 17px;
    background-color: rgb(94, 211, 176);
    padding: 12.5px 30px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0 0 10px white;
    margin-left: 3px;
}


#tituloHeader {
    color: rgb(21, 21, 94);
    font-size: 20px;
}

#pHeader {
    color: black;
    font-size: 18px;
}

.header {
    height: 25%;
    display: flex;
    flex-direction: column;
}

.center {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.captura {
    height: 60%;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.contenedor {
    height: 750px;
    width: 950px;
    background-color: #b3f0eb;
    border-radius: 10px;
    display: flex;
    border: 2px solid white;
    font-size: 15px;
    flex-direction: row;

}

.input {
    display: block;
    border: none;
    border-radius: 12px;
    width: 100%;
    padding: 7px;
    margin: 3px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(128, 128, 128, 1);
    box-shadow: 0px 0px 15px 3px rgba(128, 128, 128, 1);
}

li {
    list-style: none;
}